<li>
   <article class="post">
      <a href="">
         <img
            src="https://media.vanityfair.com/photos/62fa88ecd703349a746d4ea2/master/pass/vf-822-superbad-making-of-005.jpg"
            alt="some photo" />
         <div class="post__content">
            <h3>{{ post.title }}</h3>
            <p>
               A quote from my favourite movie Superbad:
               "They literally made me stop eating foods shaped like dicks! No hotdogs no popsicles, you know how many
               foods are shaped like dicks? The best kinds!"
            </p>
         </div>
      </a>
   </article>
</li>